<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{../css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Customer Details -- Exercise 2</title>
</head>
<body>
<main>
<h1>Customer Details</h1>
<div th:object="${customer}">
    <p>
        <span class="heading">Customer ID:</span>
        <span th:text="*{customerId}"></span>
    </p>
    <p>
        <span class="heading">First Name:</span>
        <span th:text="*{firstName}"></span>
    </p>
    <p>
        <span class="heading">Last Name:</span>
        <span th:text="*{lastName}"></span>
    </p>
    <p>
        <span class="heading">Email:</span>
        <span th:text="*{email}"></span>
    </p>
    <p>
        <span class="heading">Street:</span>
        <span th:text="*{street}"></span>
    </p>
    <p>
        <span class="heading">City:</span>
        <span th:text="*{city}"></span>
    </p>
    <p>
        <span class="heading">State:</span>
        <span th:text="*{state}"></span>
    </p>
    <p>
        <span class="heading">Zip Code:</span>
        <span th:text="*{zipCode}"></span>
    </p>
</div>
</main>

<footer>
    Sheridan College - Kevin Theriault
</footer>
</body>
</html>