<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List -- Exercise 2</title>
</head>

<body>
    <table>
        <thead>
        <tr>
            <th>Count</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:each="cust: ${customers}"
                th:text="${cust.getFirstName()} ${cust.getLastName()}"></td>
            <td>1</td>
            <td>Kevin</td>
            <td>Theriault</td>
            <td><a href="/CustomerDetails.html>">Details</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>